$sans-serif-font: "IBM Plex Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;
$monospace-font: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

$indigo: hsla(248, 57%, 60%, 1);
$illusion: hsla(341, 100%, 82%, 1);
$mustard: hsla(39, 100%, 73%, 1);
$bittersweet: hsla(14, 100%, 65%, 1);
$dark-grey: hsla(220, 10%, 12%, 1);
