$sans-serif-font: "IBM Plex Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;
$monospace-font: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

$indigo: hsla(248, 57%, 60%, 1);
$illusion: hsla(341, 100%, 82%, 1);
$mustard: hsla(39, 100%, 73%, 1);
$bittersweet: hsla(14, 100%, 65%, 1);
$dark-grey: hsla(220, 10%, 12%, 1);
$gray-1: hsla(216, 3%, 38%, 1);
$gray-2: hsla(235, 7%, 67%, 1);
$natural-1: hsla(0, 0%, 97%, 1);
$natural-2: hsla(208, 26%, 95%, 1);
$natural-3: hsla(0, 0%, 89%, 0.5);
$natural-4: hsla(0, 0%, 89%, 1);
